/* This is the base css file */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(207, 198, 198);
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #746c6c;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    width: 100%;
  }
  
  .nav-link {
    font-size: 1.3em;
    letter-spacing: 0.2em;
    color: #ffffff;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 0 0.5em;
    padding: 0.2em;
    transition: ease-out 1s all;
  }
  
  .nav-link:hover {
    background-color: aqua;
  }
  
  .social {
    color: blue;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  #container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-card {
    width: 320px;
    height: 400px;
    margin: 10px 10px 10px 50px;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .btn {
    background-color: black;
    color: white;
    position: absolute;
    width: 94px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 30px;
    height: 30px;
    padding: 5px;
    text-decoration: none;
    justify-content: center;


  }
  .card {
    background-color: azure;
    width: 350px;
    height: 400px;
    margin: 10px;
  }

  .title {
    position: absolute;
    max-height: 30px;
    font-size: 28px;
    margin-bottom: 420px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    
  }

  .card-image {
    border-radius: 12px;
    height: 150px;
    margin-bottom: 15px;
  }

  .car-1 {
    object-fit: cover;
    border-radius: 12px;
    background-image: url(/IMAGES/calculator.jpg);
    background-size: cover;
  }

  .car-3 {
    object-fit: cover;
    background-image: url(/IMAGES/login.PNG);
    background-size: cover;
  }

  .car-2 {
    object-fit: cover;
    background-image: url(/IMAGES/whatsap\ im.PNG);
    background-size: cover;
  }

  .card p {
    padding: 12px;
  }

  .card a {
    display: flex;
    justify-content: center;
    padding: 8px;
    color: blue;
  }
  
  .copyright-info {
    width: 20em;
    border-color: 4px solid black;
    font-size: 20px;
    margin: 0 auto;

  }

  footer {
    padding-top: 1em;
    margin-top: 3em;
    width: 100%;
    background-color: #746c6c;
    height: 4.5em;

}

