/* This is the base css file */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(175, 111, 111);
  height: 100vh;
}
.navbar {
  background-color: #746c6c;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  width: 100%;
}

.nav-link {
  font-size: 1.3em;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5em;
  padding: 0.2em;
  transition: ease-out 1s all;
}

.nav-link:hover {
  background-color: aqua;
}

.social {
  color: blue;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jumbo-section {
  padding-top: 50px;
}

.copyright_info {
  font-size: 18px;
}
