/* This is the base css file */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(207, 198, 198);
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #746c6c;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    width: 100%;
  }
  
  .nav-link {
    font-size: 1.3em;
    letter-spacing: 0.2em;
    color: #ffffff;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 0 0.5em;
    padding: 0.2em;
    transition: ease-out 1s all;
  }
  
  .nav-link:hover {
    background-color: aqua;
  }
  
  .social {
    color: blue;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  #main-section {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   height: auto;

    flex-direction: row-reverse;
    margin-top: 10em;

  }

  .image {
      width: 50px;
      object-fit: cover;
      border-radius: 50px;
  }

  .caption {
    width: 20em; 
    

  }

  h1 {
      font-size: 23px;
  }

  
  .copyright-info {
    width: 20em;
    border-color: 4px solid black;
    font-size: 20px;
    margin: 0 auto;

  }

  footer {
    padding-top: 1em;
    margin-top: 3em;
    width: 100%;
    background-color: #746c6c;
    height: 4.5em;

}

